
.container{
    margin-bottom: 100px;
}
.carousel-bg{
    background-color: #fceae8;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #FF136F;
}
.buy-now{
    background-image: linear-gradient(to bottom, #FF136F 0%, #FF136F 100%);
    color: #FFF;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
    text-transform: uppercase;
}
.cat1, .cat2, .cat3{
    padding: 10px 30px;
    border-radius: 10px;
}
.cat1{
    background-color: hotpink;
    color: white;
}
.cat2{
    background-color: blue;
    color: white;
}
.cat3{
    background-color: yellow;
    color: white;
}
.categories img{
    width: 100px;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
}
#subscribe{
    height: 300px;
}
#subscribe h6{
    color: gray;
}
footer{
    text-align: center;
}